{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Default Title{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    function dismissMessage(id) {
        const el = document.getElementById(id);
        // fade out...
        el.classList.add('fade-out');
        // then remove from DOM
        setTimeout(() => el.remove(), 300);
    }
  </script>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  >
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block extra_head %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body class="antialiased">
    <div class="min-h-screen flex flex-col">
        {% include 'partials/header.html' %}
        {% if messages %}
            {% for message in messages %}
                <div class="message" id="msg-{{ forloop.counter }}">
                {{ message }}
                <button class="close-btn"
                        onclick="dismissMessage('msg-{{ forloop.counter }}')"
                        aria-label="Close">&times;</button>
                </div>
            {% endfor %}
        {% endif %}
  
  {% block content %}{% endblock %}

  {% include 'partials/footer.html' %}
</body>
</html>